.App {
  text-align: center;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  border: 1px solid blue;
  width: 40%; 
  background-color:gold;
  padding-left: 0px;

}

a {
  color: #0060B6;
  text-decoration: none;
}

a:hover 
{
   color:#00A0C6; 
   text-decoration:none; 
   cursor:pointer;  
}

/* Header */

.logo-title {
  text-align: left;
  font-size: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
}