.App {
 
}



/* Header */

.logo-title {
  text-align: left;
  font-size: 14px;

  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-duration: 1s;

  animation-name: spinner;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-duration: 1s;

}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 5px; 
}


/* Nav */

.Navbar {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 60%; 
  padding-left: 0px;
  font-size:14px;
  text-align: center;
}

a {
  text-decoration: none;
  display: inline-block;
}


 a:hover{
   background-color: rgba(0, 0, 0, 0.2);
   cursor: pointer;  
   transition: all 0.3s ease 0s;
   transform: translateY(-5px); ;
   
  
}

/* Search */

.search-container {
  width: 70%;
  display: flex;
  margin: 0px auto;
  padding: 5px;
  font-size: 14px; 
  margin-bottom: 30px;
}

.search {
  border: solid rgb(238, 206, 44);
  width: 80%;
}

.categories-dropdown{
  background-color: rgb(238, 206, 44);
}

.categories-dropdown:focus {
  background-color:rgb(192, 189, 189);
}

.listings-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.listing {
  height: 130px;
  width: 130px; 
  border: solid 1px black;
  margin-bottom: 10px;
}

  /* WebKit and Opera browsers */
  @-webkit-keyframes spinner {
    from { -webkit-transform: rotateY(0deg);    }
    to   { -webkit-transform: rotateY(-360deg); }
  }

  /* all other browsers */
  @keyframes spinner {
    from {
      -moz-transform: rotateX(0deg);
      -ms-transform: rotateX(0deg);
      transform: rotateX(0deg);
    }
    to {
      -moz-transform: rotateX(-360deg);
      -ms-transform: rotateX(-360deg);
      transform: rotateX(-360deg);
    }
  }

  @-webkit-keyframes button {
    from { -webkit-transform: translateX(0px);   }
    to   { -webkit-transform: translateX(500px); }
  }
  @keyframes button {
    from {
      -moz-transform: translateX(0px);
      -ms-transform:  translateX(0px);
      transform:  translateX(0px);
    }
    to {
      -moz-transform: translateX(50px);
      -ms-transform: translateX(50px);
      transform: translateX(50px);
    }
  }



